.Main{
  display: flex;
  flex-direction: column;
  width:100%;
  height:75px;
  
}
.navbar{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between;
  width:100%;
  height:75px;
  /*background-color:#CD5D67;*/
  }
.left_icons{
  display: flex;
  align-items: center;
  justify-content:flex-start;

  width:300px;
  height: 70px;
  flex-direction: row;
  /*background-color:#CD5D67;*/
  padding-left: 20px;

}
.Right_icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width:400px;
  height: 60px;
  margin-right: 20px;
}
.Middle_icons{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width:500px;
  height: 60px;
}
.logo{
  width:68px;
  height:70px;
  /*background-color:#CD5D67;*/
}
.ImportantTasks{
  font-family: "Damion", cursive;
  text-decoration: underline;
  font-weight: 300;
  font-size: 16px;
}
.ImportantTasks:hover{
  cursor: pointer;
}
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:150px;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
.moon{
  width:30px;
  height:30px;
  /*background-color:#CD5D67;*/
border: none;

}
.moon img{
  width:30px;
  height:30px;
}
.sun{
  width:30px;
  height:30px;
  /*background-color:#CD5D67;*/
  border: none;

}
.sun img{
  width:30px;
  height:30px;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  -webkit-transition: .4s;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */.sun svg {
  -webkit-animation: rotate 15s linear infinite;
          animation: rotate 15s linear infinite;
}

@-webkit-keyframes rotate {
 
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
 
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  -webkit-animation: tilt 5s linear infinite;
          animation: tilt 5s linear infinite;
}

@-webkit-keyframes tilt {
 
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tilt {
 
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #183153;
          box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
}
.button-1{
  margin: 12px;
  height: 40px;
  width: 110px;
  border-radius: 10px;
 /* background: #333;*/
  justify-content: center;
  align-items: center;
  /*box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;*/
  font-family: "Damion", cursive;
  cursor: pointer;
  /*border:solid;
  /*border-color: #FCFBFA;*/
  font-size: 16px;
  /*color:white;*/
  transition: 500ms;
}

.button-1:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}
